<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pineapple.big.apigateway.dao.FilterMapper">
  <resultMap id="BaseResultMap" type="com.pineapple.big.apigateway.entity.Filter">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="filter_name" jdbcType="VARCHAR" property="filterName" />
    <result column="filter_desc" jdbcType="VARCHAR" property="filterDesc" />
  </resultMap>
</mapper>